image:
  repository: ghcr.io/reyoung/afs
  tag: v0.1.0-1-gd03f7d7
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

imagePullSecrets: []

commonLabels: {}

podAnnotations: {}

discovery:
  replicas: 3
  containerPort: 60051
  service:
    type: ClusterIP
    port: 60051
  resources: {}

grpcd:
  containerPort: 50051
  cacheDir: /var/lib/afs/layerstore
  hostPath: /var/lib/afs/layerstore
  resources: {}
